# database
DB_HOST=<POSTGRES_HOST>
DB_PORT=<POSTGRES_PORT:5432>
DB_USERNAME=<POSTGRES_USERNAME>
DB_PASSWORD=<POSTGRES_PASSWORD>

# kafka
KAFKA_BOOTSTRAP_SERVERS=<KAFKA:9092>

# firebase
FIREBASE_ISSUER_URI=https://securetoken.google.com/<FIREBASE_PROJECT_ID>

# media service
AWS_ACCESS_KEY=<AWS_ACCESS_KEY>
AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>
AWS_REGION=<AWS_REGION>
S3_BUCKET_NAME=<S3_BUCKET_NAME>

# valuation service
GEMINI_API_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent
GEMINI_API_KEY=<YOUR_GEMINI_API_KEY>
MEDIA_SERVICE_BASE_URL=http://media-service:8082/api/media

# notification service
REDIS_HOST=redis
REDIS_PORT=6379

# email service
RESEND_API_KEY=<YOUR_RESEND_API_KEY>