# database
DB_HOST=<POSTGRES_HOST>
DB_PORT=<POSTGRES_PORT:5432>
DB_USERNAME=<POSTGRES_USERNAME>
DB_PASSWORD=<POSTGRES_PASSWORD>

# kafka
KAFKA_BOOTSTRAP_SERVERS=<KAFKA:9092>

# firebase
FIREBASE_ISSUER_URI=https://securetoken.google.com/<FIREBASE_PROJECT_ID>